.idea/
*.iml
*.iws
*.ipr
*.sln.iml
modules.xml

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

[Nn]uget/
*.nupkg
packages/
.nuget/
NuGet.exe

.dotnet/
tools/

*.swp
*.cache
*.DS_Store
Thumbs.db
*.sql
*.pidb
*.log
*.sublime-workspace
*.sublime-project
*.bak
*.patch
*.diff

**/bin/
**/obj/

**/Debug/
**/Release/

**/net8.0/
*.pdb
*.dll
*.exe
